---
import { Title, Text, Icon, Image } from "@components/index"

interface Props {
	image?: ImageMetadata
	jobTitle?: string
	responsibilities?: string[]
	location?: string
	locationIcon?: string
	companyName?: string
	employmentPeriod?: string
	class?: string
}

const {
	image,
	jobTitle,
	responsibilities,
	location,
	locationIcon,
	companyName,
	employmentPeriod,
	class: className
} = Astro.props
---

<article class:list={["c-experience-card", className]}>
	<Image
		src={image}
		class="c-picture--cover"
		alt={location}
		sizes="(max-width: 420px) 100vw, (min-width: 1024px) 33vw, 50vw"
	/>

	<div class="c-experience-card__info">
		<div class="c-experience-card__info-details">
			<div class="c-experience-card__info-miscellaneous">
				{companyName && <Text class="typo-bold" text={companyName} />}

				{employmentPeriod && <Text text={employmentPeriod} />}

				<div class="c-experience-card__info-location">
					<Icon name={locationIcon} size={22} />

					{location && <Text text={location} />}
				</div>
			</div>

			{jobTitle && <Title text={jobTitle} Tag="h2" />}
		</div>

		<div class="c-experience-card__responsibilities">
			{
				responsibilities.map((responsibility) => (
					<Text text={responsibility} />
				))
			}
		</div>
	</div>
</article>

<style is:global lang="scss">
	@use "@styles/mixins.scss" as *;

	.c-experience-card {
		--card-bg: transparent;
		--card-border-color: var(--scheme-contrast);

		display: flex;
		flex-direction: column;
		gap: var(--space-16);
		background-color: var(--card-bg);
		padding-top: var(--space-24);
		border-top: 1px solid var(--card-border-color);

		@include styles-for(laptop) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: var(--space-32);
		}

		@include styles-for(desktop) {
			gap: var(--space-64);
		}

		& > .c-picture {
			grid-column: span 5;
			background-color: var(--clr-grey-300);
			height: 100%;
		}

		&__info {
			grid-column: span 7;
			gap: var(--space-48);
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@include styles-for(desktop) {
				gap: var(--space-160);
			}
		}

		&__info-details {
			display: flex;
			flex-direction: column;
			gap: var(--space-16);
		}

		&__info-miscellaneous {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& > .c-text:nth-child(2) {
				display: none;

				@include styles-for(laptop) {
					display: initial;
				}
			}
		}

		&__info-location {
			display: flex;
			align-items: center;
			gap: var(--space-12);
		}

		&__responsibilities {
			display: none;

			@include styles-for(laptop) {
				display: grid;
				grid-template-columns: repeat(7, 1fr);
				gap: var(--space-48) var(--space-64);
			}

			& > .c-text {
				grid-column: span 7;

				@include styles-for(desktop) {
					grid-column: 2 / 8;
				}
			}
		}
	}
</style>
